#### c'est pas encore bon : il faut encore trouver un moyen d'Ã©viter d'avoir des dates proches

In [1]:
import pandas as pd
import numpy as np

source_data = '../collect/binance_history/ETHUSDT_binance_daily.csv'
df = pd.read_csv(source_data)
df['date'] = pd.to_datetime(df['Time']/1000, unit='s').dt.strftime('%Y-%m-%d %H:%M:%S')
df = df[pd.to_datetime(df['date']) < pd.to_datetime('2021-05-18')]

In [8]:
df[df['date'] == '2021-04-18 00:00:00']

,Time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore,date
281,1618704000000,2319.93,2341.91,1900.0,2235.32,4275573.298,1618790399999,9.242083e+09,3573690,2031438.001,4.391973e+09,0,2021-04-18 00:00:00

In [3]:
df_drawdowns = pd.DataFrame(columns=["drawdown", "date_debut", "high", "date_fin", "low"])

In [10]:
# Initialisation d'une liste pour collecter les donnÃ©es
drawdowns_data = []
n = len(df)

# Calcul des drawdowns
for i in range(n):
    print(i , '/' ,n)
    minimum_global = 1000000
    date_fin = None
    high = df['high'][i]
    for j in range(i, n):
        minimum = df['low'].iloc[i:j+1].min()
        drawdown_max = minimum / high - 1 
        if minimum < minimum_global :
            minimum_global = minimum
            date_fin = df['date'][j]
    if minimum_global / high - 1 < -0.03:
        diff = minimum_global / high - 1
        drawdowns_data.append({'drawdown': diff, 'date_debut': df['date'][i], 'high': df['high'][i], 'date_fin': date_fin, 'low': minimum_global})

drawdowns = pd.DataFrame(drawdowns_data)
drawdowns.set_index('date_debut', inplace=True)
drawdowns.index = pd.to_datetime(drawdowns.index)
drawdowns['date_fin'] = pd.to_datetime(drawdowns['date_fin'])

0 / 310
1 / 310
2 / 310
3 / 310
4 / 310
5 / 310
6 / 310
7 / 310
8 / 310
9 / 310
10 / 310
11 / 310
12 / 310
13 / 310
14 / 310
15 / 310
16 / 310
17 / 310
18 / 310
19 / 310
20 / 310
21 / 310
22 / 310
23 / 310
24 / 310
25 / 310
26 / 310
27 / 310
28 / 310
29 / 310
30 / 310
31 / 310
32 / 310
33 / 310
34 / 310
35 / 310
36 / 310
37 / 310
38 / 310
39 / 310
40 / 310
41 / 310
42 / 310
43 / 310
44 / 310
45 / 310
46 / 310
47 / 310
48 / 310
49 / 310
50 / 310
51 / 310
52 / 310
53 / 310
54 / 310
55 / 310
56 / 310
57 / 310
58 / 310
59 / 310
60 / 310
61 / 310
62 / 310
63 / 310
64 / 310
65 / 310
66 / 310
67 / 310
68 / 310
69 / 310
70 / 310
71 / 310
72 / 310
73 / 310
74 / 310
75 / 310
76 / 310
77 / 310
78 / 310
79 / 310
80 / 310
81 / 310
82 / 310
83 / 310
84 / 310
85 / 310
86 / 310
87 / 310
88 / 310
89 / 310
90 / 310
91 / 310
92 / 310
93 / 310
94 / 310
95 / 310
96 / 310
97 / 310
98 / 310
99 / 310
100 / 310
101 / 310
102 / 310
103 / 310
104 / 310
105 / 310
106 / 310
107 / 310
108 / 310
109 / 310
110 / 310
111 / 310
112 / 310
113 / 310
114 / 310
115 / 310
116 / 310
117 / 310
118 / 310
119 / 310
120 / 310
121 / 310
122 / 310
123 / 310
124 / 310
125 / 310
126 / 310
127 / 310
128 / 310
129 / 310
130 / 310
131 / 310
132 / 310
133 / 310
134 / 310
135 / 310
136 / 310
137 / 310
138 / 310
139 / 310
140 / 310
141 / 310
142 / 310
143 / 310
144 / 310
145 / 310
146 / 310
147 / 310
148 / 310
149 / 310
150 / 310
151 / 310
152 / 310
153 / 310
154 / 310
155 / 310
156 / 310
157 / 310
158 / 310
159 / 310
160 / 310
161 / 310
162 / 310
163 / 310
164 / 310
165 / 310
166 / 310
167 / 310
168 / 310
169 / 310
170 / 310
171 / 310
172 / 310
173 / 310
174 / 310
175 / 310
176 / 310
177 / 310
178 / 310
179 / 310
180 / 310
181 / 310
182 / 310
183 / 310
184 / 310
185 / 310
186 / 310
187 / 310
188 / 310
189 / 310
190 / 310
191 / 310
192 / 310
193 / 310
194 / 310
195 / 310
196 / 310
197 / 310
198 / 310
199 / 310
200 / 310
201 / 310
202 / 310
203 / 310
204 / 310
205 / 310
206 / 310
207 / 310
208 / 310
209 / 310
210 / 310
211 / 310
212 / 310
213 / 310
214 / 310
215 / 310
216 / 310
217 / 310
218 / 310
219 / 310
220 / 310
221 / 310
222 / 310
223 / 310
224 / 310
225 / 310
226 / 310
227 / 310
228 / 310
229 / 310
230 / 310
231 / 310
232 / 310
233 / 310
234 / 310
235 / 310
236 / 310
237 / 310
238 / 310
239 / 310
240 / 310
241 / 310
242 / 310
243 / 310
244 / 310
245 / 310
246 / 310
247 / 310
248 / 310
249 / 310
250 / 310
251 / 310
252 / 310
253 / 310
254 / 310
255 / 310
256 / 310
257 / 310
258 / 310
259 / 310
260 / 310
261 / 310
262 / 310
263 / 310
264 / 310
265 / 310
266 / 310
267 / 310
268 / 310
269 / 310
270 / 310
271 / 310
272 / 310
273 / 310
274 / 310
275 / 310
276 / 310
277 / 310
278 / 310
279 / 310
280 / 310
281 / 310
282 / 310
283 / 310
284 / 310
285 / 310
286 / 310
287 / 310
288 / 310
289 / 310
290 / 310
291 / 310
292 / 310
293 / 310
294 / 310
295 / 310
296 / 310
297 / 310
298 / 310
299 / 310
300 / 310
301 / 310
302 / 310
303 / 310
304 / 310
305 / 310
306 / 310
307 / 310
308 / 310
309 / 310

In [20]:
drawdowns

            drawdown     high             date_fin      low
date_debut
2020-07-02 -0.039786   231.99  2020-07-02 00:00:00   222.76
2020-07-04 -0.032543   230.77  2020-07-05 00:00:00   223.26
2020-07-06 -0.063676   242.32  2020-07-06 00:00:00   226.89
2020-07-07 -0.057647   243.90  2020-07-16 00:00:00   229.84
2020-07-08 -0.076948   249.00  2020-07-16 00:00:00   229.84
...              ...      ...                  ...      ...
2021-05-13 -0.225805  4036.45  2021-05-17 00:00:00  3125.00
2021-05-14 -0.251497  4175.00  2021-05-17 00:00:00  3125.00
2021-05-15 -0.244660  4137.21  2021-05-17 00:00:00  3125.00
2021-05-16 -0.195160  3882.76  2021-05-17 00:00:00  3125.00
2021-05-17 -0.128798  3587.00  2021-05-17 00:00:00  3125.00

[302 rows x 4 columns]

In [ ]:
# il faut run plusieurs fois et uncomment la deuxiÃ¨me ligne

In [32]:
# Initialiser un DataFrame pour stocker les lignes filtrÃ©es
to_keep = []
#drawdowns = drawdowns_filtered

# ItÃ©rer sur chaque ligne du DataFrame
for i, row in drawdowns.iterrows():
    # Trouver les dates dans la plage de 5 jours avant et aprÃ¨s
    start_date = i - pd.Timedelta(days=10)
    end_date = i + pd.Timedelta(days=10)
    
    # Filtrer le DataFrame pour cette plage de dates
    df_temp = drawdowns.loc[start_date:end_date]
    
    # Trouver l'index de la ligne avec le 'drawdown' minimal dans cette plage
    min_drawdown_idx = df_temp['drawdown'].idxmin()
    
    # Ajouter l'index de la ligne avec le 'drawdown' minimal Ã  la liste
    if min_drawdown_idx not in to_keep:
        to_keep.append(min_drawdown_idx)

# ConcatÃ©ner toutes les lignes filtrÃ©es dans un nouveau DataFrame
drawdowns_filtered = drawdowns.loc[to_keep]
drawdowns_filtered

            drawdown     high   date_fin      low
date_debut
2020-07-08 -0.076948   249.00 2020-07-16   229.84
2020-08-02 -0.278358   418.49 2020-08-02   302.00
2020-08-17 -0.315457   449.00 2020-09-05   307.36
2020-09-02 -0.362905   482.44 2020-09-05   307.36
2020-09-17 -0.207349   394.07 2020-09-23   312.36
2020-10-22 -0.123015   421.90 2020-11-03   370.00
2020-11-07 -0.098012   469.74 2020-11-07   423.70
2020-11-24 -0.231378   624.65 2020-11-26   480.12
2020-12-17 -0.193733   678.20 2020-12-23   546.81
2021-01-10 -0.324406  1354.66 2021-01-11   915.20
2021-02-20 -0.368750  2048.00 2021-02-28  1292.80
2021-03-13 -0.209637  1948.75 2021-03-24  1540.22
2021-04-16 -0.255778  2553.00 2021-04-18  1900.00
2021-05-12 -0.286396  4379.18 2021-05-17  3125.00

In [29]:
drawdowns_filtered.to_csv('drawdown.csv')

In [35]:
drawdowns_filtered.mean()

drawdown                        -0.238009
high                          1176.505714
date_fin    2020-12-01 18:51:25.714285824
low                            860.912143
dtype: object

In [36]:
diffs = drawdowns_filtered.index.to_series().diff() # Calculer les diffÃ©rences entre les dates consÃ©cutives
average_diff = diffs.mean() # Calculer la moyenne de ces diffÃ©rences
average_diff

Timedelta('23 days 16:36:55.384615384')

In [ ]:
drawdowns_sorted = drawdowns.sort_values(by='drawdown', ascending=True)

In [ ]:
drawdowns_sorted

In [ ]:
#drawdowns_sorted_filtered = drawdowns_sorted.loc[drawdowns_sorted.groupby('date_fin_jour')['drawdown'].idxmin()]
drawdowns_sorted_filtered = drawdowns_sorted.loc[drawdowns_sorted.groupby('date_debut_jour')['drawdown'].idxmin()]

In [ ]:
drawdowns_sorted_filtered